<div class="row" id='categories'>
  <div class="col-md-12 col-xs-12">
    <h2>
      {{pageTitle}}
      <small><a class="btn btn-default btn-xs" href="#" {{action "toggleShowMe" }}>Toggle all categories visibility</a></small>
    </h2>
    <ul class="categories-categories list-group">
      {{#each }}
        {{view App.CategorySortableView}}
      {{/each}}
    </ul>
  </div>
</div>
