- @title ||= 'Generate RSS and iCal feed'
%h2
  = @title
- form_tag feeds_path do |f|
  .label
    Chose the categories/series you want to follow
  %ul
  - for category in Category.find(:all)
    %li
      = check_box_tag "category_ids[]", category.id
      = label_tag "category_ids[]", category.name
  %br
  = submit_tag 'Generate feeds URLs'