.bundle
.DS_Store
.livereload
.sass-cache/
.yardoc/

db/schema.rb
db/schema.sql
db/*.sqlite3

log/*
log/*.log

tmp/cache/*
tmp/sockets/*
tmp/pids/*
tmp/capybara/*

public/system/*
public/assets/*

index/*
public/cache/*
vendor/rails/*
rails/

*.sublime-project
*.sublime-workspace

brakeman/

coverage

# Ignore application configuration
config/application.yml
config/secrets.yml
config/database.yml
