<div class="panel panel-info building">
  <div class="panel-heading">
    <button type="button" class="close" aria-hidden="true" {{action "close"}}>&times;</button>
    <h3 class="panel-title">Building “{{name}}”</h3>
  </div>

  {{#if locations}}
    <h3 class="panel-body">Locations</h3>
    <div class="building-locations list-group">
      {{#each locations}}
        {{#link-to 'location' this class="list-group-item building-locations-location"}}
          {{name}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/if}}

  {{#if updatable_or_destroyable }}
    <div class="panel-footer">
      <div class='seminar-adminlinks'>
        {{#if updatable }}
          {{#link-to "buildings.edit" this class="btn btn-xs btn-primary"}}Edit{{/link-to}}
        {{/if}}
        {{#if destroyable }}
          <a class="btn btn-xs btn-danger" href="#" {{action "destroy" this}}>Destroy</a>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
