@import defines.sass

body
  :background-color = !background
  :color #333
  :font-family "Lucida Grande", arial, helvetica ,sans-serif
  :font-size   11px
  :line-height 1.5em

h1
  :font-size 436%
  :margin 0 0 .2em 0
  a
    :text-decoration none
    :color = !green
    &:hover
      :color = !verydarkgreen
a
  :text-decoration underline
  img
    :text-decoration none
h2
  :line-height 1em
  :padding-left 0
form
  fieldset
    :margin 1em 0 0 0
    :border 2px solid
    :border-color = !green
    :-moz-border-radius 1em
    :-webkit-border-radius 1em
    :-border-radius 1em
    :-webkit-box-shadow 10px 10px 25px #ccc
    :-moz-box-shadow 10px 10px 25px #ccc
    :box-shadow 10px 10px 25px #ccc
    legend
      :margin 0 1em
      :color = !green
      :font-size 164%
  label, .label
    :font-weight bold
    :margin .5em 0 .3em 0
  :margin 0 1em
  &.with_blocks
    label, input
      :display block
    input, select, textarea
      :margin 0 0 1em 0
    textarea
      :height 6em
      :width 300px
    .inline_in_form
      :display block
      label, input, .label
        :display inline
      input[type='text']
        :width 10em
  .button
    :margin 1em 0 0 0
  #speakers, #hosts
    input[type=text]
      :width 15em
    label
      :font-weight normal
  label[for='seminar_all_day']
    :font-weight normal
  #seminar_all_day
    :top 0
  ul
    :margin 0
    li
      :margin 1em 0 0 0
      :list-style none
      :list-style-position outside
form#show_internal_seminars
  :margin 1em 0 0 0
input[type=checkbox]
  :top 0

#content
  h2
    :text-align left
  section
    :padding 1em
.notice, .warning
  :width 100%
  :margin 0 auto
  :padding 1em 0
  :text-align center
  :font-size 1.5em
  :font-weight 1.5em
  :-moz-border-radius 1em
  :-webkit-border-radius 1em
  :-border-radius 1em

.notice
  :background-color = !veryverylightgreen
  :border 2px solid
  :border-color = !green
  :color = !verydarkgreen

.warning
  :background-color = !veryverylightred
  :border 2px solid
  :border-color = !red
  :color = !verydarkred 

.fieldWithErrors
  :display table
  :padding 2px
  :background-color #731b10
  :color #fff
  :font-weight bold

.fieldWithErrors label
  :padding 2px 8px

#errorExplanation 
  :width 400px
  :border 2px solid #731b10
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0


#errorExplanation h2 
  :text-align left
  :font-weight bold
  :padding 5px 5px 5px 15px
  :font-size 12px
  :margin -7px
  :background-color #731b10
  :color #fff


#errorExplanation p 
  :color #333
  :margin-bottom 0
  :padding 5px


#errorExplanation ul li 
  :font-size 12px
  :list-style square
  
#javascript_disabled_notification
  :font-size 1.2em
  :padding 1em
  :border 2px solid #F6402D
  :background #FF7D58
  :width 60%
  :margin auto
  :padding 1em
  :border 2px solid #F6402D
  :background-color #FF7D58

th
  :text-align left

table
  :font-size 12px
  :text-align left
  :border-collapse collapse
  tr
    td:first-child, th:first-child
      :-moz-border-radius .5em 0 0 .5em
      :-webkit-border-radius 0
      :-webkit-border-top-left-radius .5em
      :-webkit-border-bottom-left-radius .5em
      :border-radius .5em 0 0 0
    td:last-child, th:last-child
      :-moz-border-radius 0 .5em .5em 0
      :-webkit-border-radius 0
      :-webkit-border-top-right-radius .5em
      :-webkit-border-bottom-right-radius .5em
      :border-radius 0 .5em .5em 0
  thead
    th
      :color = !veryverylightgreen
      :background-color = !green
  tbody
    :color = !verydarkgreen
    .odd
      :background-color = !veryverylightgreen
#banner
  :margin-top 1em

#footer
  :margin 1em 0 0 0
  #footer_box
    :text-align center
    :display block
    :position relative
    :height 74px
    :overflow hidden
    :font-size 118%
    :color = !veryverylightgreen
    :background-color = !green
    :padding 0
    :margin 13px 0 0 0
    :-moz-border-radius 1em
    :-webkit-border-radius 1em
    :-border-radius 1em
    :-webkit-box-shadow 10px 10px 25px #ccc
    :-moz-box-shadow 10px 10px 25px #ccc
    :box-shadow 10px 10px 25px #ccc
    #rss_feed_link, #ical_feed_link
      :-moz-background-clip border
      :-moz-background-inline-policy continuous
      :-moz-background-origin padding
      :background transparent url('/images/rssIconS.png') no-repeat scroll left top
      :padding 1px 0 5px 19px
    #rss_feed_link
      :background transparent url('/images/rssIconS.png') no-repeat scroll left top
    #ical_feed_link
      :background transparent url('/images/ical_iconS.png') no-repeat scroll left top
    a
      :color = !veryverylightgreen
      :font-weight bold
    ul
      :display inline-block
      :margin 1em auto 0 auto
      :list-style none
      li
        :float left
        :margin-left 1em
        :padding-left 1em
        :border-left 1px solid
        :border-color = !veryverylightgreen
      li:first-child
        :border none

/// navigation
#navigation
  :margin-top 1.6em
  :font-weight bold
  :font-size 118%
  :padding 0em
  ul
    li
      :margin 0 .2em 0 0
      :background-color = !green
      :-moz-border-radius .8em
      :-webkit-border-radius .8em
      :-border-radius .8em
      :-webkit-box-shadow 10px 10px 25px #ccc
      :-moz-box-shadow 10px 10px 25px #ccc
      :box-shadow 10px 10px 25px #ccc
      a
        :font-weight bold
        :color = !white
      &:hover
        :background-color = !darkgreen
    li.secondary
      :font-size 100%
      :background-color = !verylightred
      :float right
      form
        :display inline
        input
          :display inline

      span.status
        :width auto
        :float left
        :padding 0 1em
        :line-height 2.77em
        :height 2.77em
        :font-size 0.9em
        :color white

        a
          :float none
          :display inline
          :padding 0
          :height auto
          :line-height auto
          :background transparent

          &:hover
            :color #fff
            :background transparent
        span
          :text-transform capitalize
    ul
      li
        :background-color = !darkgreen
        ul
          :top 100%
          :left -25px
          :list-style none
          :display none
          :z-index 597
      li:hover
        :background-color = !verydarkgreen
        ul
          :display block
          :margin-top -2.1em
          :left 100%
.ajax_div
  :z-index 10000
  :width 480px
  :margin 20px auto auto -240px
  :padding 10px
  :-moz-border-radius 1em
  :-webkit-border-radius 1em
  :-border-radius 1em
  :-webkit-box-shadow 10px 10px 25px #ccc
  :-moz-box-shadow 10px 10px 25px #ccc
  :box-shadow 10px 10px 25px #ccc
  :border 2px solid
  :border-color = !green
  :position fixed
  :left 50%
  :background-color = !background
  h2
    :margin 0 auto
  #ajax_form
    :max-height 550px
    :overflow auto
  #ZoomClose
    :position absolute
    :left -15px
    :top -15px
    :cursor pointer
#seminars_div.ajax_div
  :width 880px
  :margin 20px auto auto -450px
.color
  :display block
  :float left
  :margin 0.2em 0.5em 0 0
  :width 1em
  :height 1em
.redstar
  :font-family "Lucida Grande", arial, helvetica ,sans-serif
  :color = !red
  :font-size 218%
  :vertical-align bottom
.seminar
  :margin-top 3em
  .time_and_location
    :font-weight bold
    :color = !orange
  .admin_links
    :text-align right
.alert_internal
  :color = !red
  :text-align center
  :font-size 145%
  
div.auto_complete
  :width 350px
  :background #fff
  ul
    :border 1px solid #888
    :width 100%
    :list-style-type none
    :margin 0
    :padding 0
    li
      :margin 0
      :padding 3px
      &.selected
        :background-color #ffb
    strong.highlight
      :color #800
      :margin 0
      :padding 0
#pictures
  ul
    :list-style none
    :margin 0
    li
      :float left
      :margin-right 1em
  a img
    :border .5em solid white
    :-webkit-box-shadow 5px 5px 12px #999
    :-moz-box-shadow 5px 5px 12px #999
    :box-shadow 5px 5px 12px #999
#ZoomImage
  :border 1em solid white
  :-webkit-box-shadow 10px 10px 25px #999
  :-moz-box-shadow 10px 10px 25px #999
  :box-shadow 10px 10px 25px #999
#publications
  dl
    dd
      p
        :margin-bottom 0
      p:last-child
        :margin-bottom 1em
  p#big_ajax_loader
    :text-align center
    :font-weight bold
    img
      :display block
      :position relative
      :margin 1em auto 0 auto
      :background-color = !green
      :padding 1em
      :-moz-border-radius 1em
      :-webkit-border-radius 1em
      :-border-radius 1em
#documents, #pictures, #publications
  h3
    :margin 1em 0 .6em 0
.red_dot
  :color red