@import defines.sass


table.calendar
  :margin 0 auto
  tr:first-child
    th
      :vertical-align middle
  thead tr th
    :background-color transparent
  tr.dayName 
  tr.dayName th:first-child
    :-moz-border-radius .5em 0 0 .5em
    :-webkit-border-radius 0
    :-webkit-border-top-left-radius .5em
    :-webkit-border-bottom-left-radius .5em
    :border-radius .5em 0 0 0
  tr.dayName th:last-child
    :-moz-border-radius 0 .5em .5em 0
    :-webkit-border-radius 0
    :-webkit-border-top-right-radius .5em
    :-webkit-border-bottom-right-radius .5em
    :border-radius 0 .5em .5em 0
  td, th
    :width 14.25%
    :height 8em
    :text-align center
    a
      :color = !verydarkgreen
      :text-decoration none
  th.monthName, tr.dayName th, tr:first-child th
    :height 2em
  td.normalDay, td.specialDay
    :border 1px dotted
    :color = !darkgreen
    :border-color = !verydarkgreen
    .day_number
      :font-weight bold
  .monthName
    :color = !verydarkgreen
    :font-weight bold
    :font-size 145%
  .dayName th
    :font-size 1em
    :padding-top 0.6em
    :padding-bottom 0.3em
    :background-color = !green
    :color white
  .otherMonth
    :padding 0.7em 1em
    :color = !background
  .otherMonth.weekendDay
    :color = !veryverylightgreen
  .day
    :padding 0.7em 1em
    :border-right 1px solid white
    :text-align center
    :border-bottom 1px dotted #bbbbbb
  .specialDay
    ul
      :list-style-type none
      :text-align left
      :padding 0
      :margin 0
      :text-indent 0
      li a
        :font-family Helvetica, Arial, Sans-Serif
    a
      :color = !darkgreen
      :text-decoration none
      :font-weight normal
      :font-size .9em
      &:visited
        :color = !darkgreen
        :text-decoration none
  .weekendDay
    :background-color = !veryverylightgreen
  .today
    :background-color = !veryverylightorange
  .day_number
    :display block
    :text-align right