#black_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 500%;
  background-color: black;
  z-index: 600;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.ajax_div {
  z-index: 601;
  width: 50%;
  max-width: 50%;
  margin: 20px auto auto 25%;
  padding: 10px;
  position: absolute;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -border-radius: 1em;
  border: 2px solid #4c4c4c;
  background-color: white; }
  .ajax_div #ajax_form {
    max-height: 80%;
    overflow: auto; }
  .ajax_div .zoom_close {
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer; }
  .ajax_div#seminars_div {
    width: 80%;
    max-width: 80%;
    margin: 20px auto auto 10%; }
