/* !darkgreen = #007E64 */
/* !verydarkgreen = !darkgreen - #222222 */
/* !lightgreen = #E5F3E5 */

@font-face {
  font-family: TheSans;
  src: url('/fonts/TheSansPlain.ttf'); }

body {
  background-color: #f7f2e5;
  color: #333;
  font-family: "Lucida Grande", helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 1.5em; }

h1 {
  font-size: 436%;
  margin: 0 0 .2em 0; }
  h1 a {
    text-decoration: none;
    color: #007e64; }
    h1 a:hover {
      color: #003a20; }

h2 {
  padding-left: 0;
  line-height: 1em;
  font-family: TheSans, "Lucida Grande", helvetica, arial, sans-serif; }

h3, h4 {
  margin: 1.5em auto .6em auto; }

a {
  text-decoration: underline; }
  a img {
    text-decoration: none; }

fieldset {
  padding: 1em;
  margin: 1em 0 0 0;
  border: 2px solid;
  border-color: #007e64;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -border-radius: 1em;
  -webkit-box-shadow: 10px 10px 25px #ccc;
  -moz-box-shadow: 10px 10px 25px #ccc;
  box-shadow: 10px 10px 25px #ccc; }
  fieldset .categories_to_show {
    margin: 1em 0 0 0; }
  fieldset.columns_4 {
    padding: 0; }
    fieldset.columns_4 p {
      padding: .4em 0 0 1em; }
    fieldset.columns_4 .categories_to_show li {
      display: inline-block;
      width: 220px;
      margin: 0;
      padding: .4em 0 0 0; }
  fieldset legend {
    margin: 0 1em;
    color: #007e64;
    font-size: 164%; }

form {
  margin: 0 1em; }
  form label, form .label {
    font-weight: bold;
    margin: .5em 0 .3em 0; }
  form.with_blocks label, form.with_blocks input {
    display: block; }
  form.with_blocks input, form.with_blocks select, form.with_blocks textarea {
    margin: 0 0 1em 0; }
  form.with_blocks textarea {
    height: 6em;
    width: 300px; }
  form.with_blocks .inline_in_form {
    display: block; }
    form.with_blocks .inline_in_form label, form.with_blocks .inline_in_form input, form.with_blocks .inline_in_form .label {
      display: inline; }
    form.with_blocks .inline_in_form input[type='text'] {
      width: 10em; }
  form .button {
    margin: 1em 0 0 0; }
  form #speakers input[type=text], form #hosts input[type=text] {
    width: 15em; }
  form #speakers label, form #hosts label {
    font-weight: normal; }
  form label[for='seminar_all_day'] {
    font-weight: normal; }
  form #seminar_all_day {
    top: 0; }
  form ul {
    margin: 0; }
    form ul li {
      margin: 1em 0 0 0;
      list-style: none;
      list-style-position: outside; }

form#show_internal_seminars {
  margin: 1em 0 0 0; }

input[type=checkbox] {
  top: 0; }

#content h2 {
  text-align: left; }
#content section {
  padding: 1em; }

.flash {
  margin-bottom: 1em; }

.notice, .alert {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 1em 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 1.5em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -border-radius: 1em; }

.notice {
  background-color: #ccffcc;
  border: 2px solid;
  border-color: #007e64;
  color: #003a20; }

.alert {
  background-color: #ff88a2;
  border: 2px solid;
  border-color: #bd001a;
  color: #790000; }

.fieldWithErrors {
  display: table;
  padding: 2px;
  background-color: #731b10;
  color: #fff;
  font-weight: bold; }

.fieldWithErrors label {
  padding: 2px 8px; }

#errorExplanation {
  width: 400px;
  border: 2px solid #731b10;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #731b10;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }

#javascript_disabled_notification {
  font-size: 1.2em;
  padding: 1em;
  border: 2px solid #F6402D;
  background: #FF7D58;
  width: 60%;
  margin: auto;
  padding: 1em;
  border: 2px solid #F6402D;
  background-color: #FF7D58; }

th {
  text-align: left; }

table {
  font-size: 12px;
  text-align: left;
  border-collapse: collapse; }
  table tr td:first-child, table tr th:first-child {
    -moz-border-radius: .5em 0 0 .5em;
    -webkit-border-radius: 0;
    -webkit-border-top-left-radius: .5em;
    -webkit-border-bottom-left-radius: .5em;
    border-radius: .5em 0 0 0; }
  table tr td:last-child, table tr th:last-child {
    -moz-border-radius: 0 .5em .5em 0;
    -webkit-border-radius: 0;
    -webkit-border-top-right-radius: .5em;
    -webkit-border-bottom-right-radius: .5em;
    border-radius: 0 .5em .5em 0; }
  table thead th {
    color: #ccffcc;
    background-color: #007e64; }
  table tbody {
    color: #003a20; }
    table tbody .odd {
      background-color: #ccffcc; }

#banner_and_nav {
  padding-bottom: 0; }

#banner {
  margin: 1em 0 0 0; }

#footer {
  margin-top: 1em; }
  #footer #footer_box {
    text-align: center;
    height: 74px;
    width: 710px;
    overflow: hidden;
    font-size: 118%;
    color: #ccffcc;
    background-color: #007e64;
    padding: 0;
    margin-top: 13px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -border-radius: 1em;
    -webkit-box-shadow: 10px 10px 25px #ccc;
    -moz-box-shadow: 10px 10px 25px #ccc;
    box-shadow: 10px 10px 25px #ccc; }
    #footer #footer_box #rss_feed_link, #footer #footer_box #ical_feed_link {
      -moz-background-clip: border;
      -moz-background-inline-policy: continuous;
      -moz-background-origin: padding;
      background: transparent url('/images/rssIconS.png') no-repeat scroll left top;
      padding: 1px 0 5px 19px; }
    #footer #footer_box #rss_feed_link {
      background: transparent url('/images/rssIconS.png') no-repeat scroll left top; }
    #footer #footer_box #ical_feed_link {
      background: transparent url('/images/ical_iconS.png') no-repeat scroll left top; }
    #footer #footer_box a {
      color: #ccffcc;
      font-weight: bold; }
    #footer #footer_box ul {
      display: inline-block;
      margin: 1em auto 0 auto;
      list-style: none; }
      #footer #footer_box ul li {
        display: inline-block;
        margin-left: 1em;
        padding-left: 1em;
        border-left: 1px solid;
        border-color: #ccffcc; }
      #footer #footer_box ul li:first-child {
        border: none; }

#navigation {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  font-weight: bold;
  font-size: 118%;
  padding: 0em; }
  #navigation ul li {
    margin: 0 .2em 0 0;
    background-color: #007e64;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    -border-radius: .8em;
    -webkit-box-shadow: 10px 10px 25px #ccc;
    -moz-box-shadow: 10px 10px 25px #ccc;
    box-shadow: 10px 10px 25px #ccc; }
    #navigation ul li a {
      font-weight: bold;
      color: white; }
    #navigation ul li:hover {
      background-color: #005c42; }
  #navigation ul li.secondary {
    font-size: 100%;
    background-color: #ff445e;
    float: right; }
    #navigation ul li.secondary form {
      display: inline; }
      #navigation ul li.secondary form input {
        display: inline; }
    #navigation ul li.secondary span.status {
      width: auto;
      float: left;
      padding: 0 1em;
      line-height: 2.77em;
      height: 2.77em;
      font-size: 0.9em;
      color: white; }
      #navigation ul li.secondary span.status a {
        float: none;
        display: inline;
        padding: 0;
        height: auto;
        line-height: auto;
        background: transparent; }
        #navigation ul li.secondary span.status a:hover {
          color: #fff;
          background: transparent; }
      #navigation ul li.secondary span.status span {
        text-transform: capitalize; }
  #navigation ul ul li {
    background-color: #005c42; }
    #navigation ul ul li ul {
      top: 100%;
      left: -25px;
      list-style: none;
      display: none;
      z-index: 597; }
  #navigation ul ul li:hover {
    background-color: #003a20; }
    #navigation ul ul li:hover ul {
      display: block;
      margin-top: -2.1em;
      left: 100%; }

.ajax_div {
  z-index: 10000;
  width: 480px;
  margin: 20px auto auto -240px;
  padding: 10px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -border-radius: 1em;
  -webkit-box-shadow: 10px 10px 25px #ccc;
  -moz-box-shadow: 10px 10px 25px #ccc;
  box-shadow: 10px 10px 25px #ccc;
  border: 2px solid;
  border-color: #007e64;
  position: fixed;
  left: 50%;
  background-color: #f7f2e5; }
  .ajax_div h2 {
    margin: 0 auto; }
  .ajax_div #ajax_form {
    max-height: 550px;
    overflow: auto; }
  .ajax_div #ZoomClose {
    position: absolute;
    left: -15px;
    top: -15px;
    cursor: pointer; }

#seminars_div.ajax_div {
  width: 880px;
  margin: 20px auto auto -450px; }

.color {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 1em;
  height: 1em; }

.redstar {
  font-family: "Lucida Grande", arial, helvetica ,sans-serif;
  color: #bd001a;
  font-size: 218%;
  vertical-align: bottom; }

.seminar .time_and_location {
  font-weight: bold;
  color: #c77d00; }
.seminar .admin_links {
  text-align: right; }
.seminar.hidden_seminar {
  display: none; }

.showing_seminar {
  margin-top: 3em; }

.alert_internal {
  color: #bd001a;
  text-align: center;
  font-size: 145%; }

div.auto_complete {
  width: 350px;
  background: #fff; }
  div.auto_complete ul {
    border: 1px solid #888;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    div.auto_complete ul li {
      margin: 0;
      padding: 3px; }
      div.auto_complete ul li.selected {
        background-color: #ffb; }
    div.auto_complete ul strong.highlight {
      color: #800;
      margin: 0;
      padding: 0; }

#pictures ul {
  list-style: none;
  margin: 0; }
  #pictures ul li {
    float: left;
    margin-right: 1em; }
#pictures a img {
  border: .5em solid white;
  -webkit-box-shadow: 5px 5px 12px #999;
  -moz-box-shadow: 5px 5px 12px #999;
  box-shadow: 5px 5px 12px #999; }

#ZoomImage {
  border: 1em solid white;
  -webkit-box-shadow: 10px 10px 25px #999;
  -moz-box-shadow: 10px 10px 25px #999;
  box-shadow: 10px 10px 25px #999; }

.seminar_publications dl dd p {
  margin-bottom: 0; }
.seminar_publications dl dd p:last-child {
  margin-bottom: 1em; }
.seminar_publications p#big_ajax_loader {
  text-align: center;
  font-weight: bold; }
  .seminar_publications p#big_ajax_loader img {
    display: block;
    position: relative;
    margin: 1em auto 0 auto;
    background-color: #007e64;
    padding: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -border-radius: 1em; }

#documents h3, #pictures h3, #publications h3 {
  margin: 1em 0 .6em 0; }

.red_dot {
  color: red; }

#seminar_list .seminar {
  margin-top: 1.5em;
  padding-top: 10px;
  border: 2px solid;
  border-color: #007e64;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -border-radius: 1em; }
  #seminar_list .seminar .title_and_content {
    width: 440px; }
    #seminar_list .seminar .title_and_content .alert_internal {
      margin: 0; }

.pagination {
  font-weight: bold;
  font-size: 118%;
  padding: 0em; }
  .pagination a, .pagination span {
    margin: 0 .2em 0 0;
    padding: .6em 1em;
    background-color: #007e64;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    -border-radius: .8em;
    -webkit-box-shadow: 10px 10px 25px #ccc;
    -moz-box-shadow: 10px 10px 25px #ccc;
    box-shadow: 10px 10px 25px #ccc; }
  .pagination span.disabled {
    color: #44c2a8;
    background-color: #f7f2e5;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .pagination span.current {
    color: #ccffcc;
    background-color: #ff445e; }
  .pagination a {
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    -border-radius: .8em;
    color: #ccffcc;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003a20;
      background: #005c42;
      color: #ccffcc; }
  .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .pagination .prev_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .prev_page {
    margin-right: .5em; }
  .pagination .next_page {
    margin-left: .5em; }
