table.calendar {
  margin: 1em auto 0 auto; }
  table.calendar thead tr th {
    background-color: transparent; }
  table.calendar td, table.calendar th {
    width: 14.25%;
    height: 8em;
    text-align: center; }
    table.calendar td a,     table.calendar th a {
      color: #005c42;
      text-decoration: none; }
  table.calendar th.monthName, table.calendar tr.dayName th, table.calendar tr:first-child th {
    height: 2em; }
  table.calendar td.normalDay {
    border: 1px dotted #{!darkgreen}; }
  table.calendar .monthName {
    color: #005c42;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 0.7em; }
  table.calendar .dayName th {
    font-size: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    background-color: #005c42;
    color: white; }
  table.calendar .otherMonth {
    padding: 0.7em 1em;
    color: #e5f3e5; }
  table.calendar .day {
    padding: 0.7em 1em;
    border-right: 1px solid white;
    text-align: center;
    border-bottom: 1px dotted #bbbbbb; }
  table.calendar .specialDay {
    border: 2px dotted #{!darkgreen};
    padding: 0.7em 1em;
    text-align: center;
    color: #007e64;
    font-weight: bold; }
    table.calendar .specialDay ul {
      list-style-type: none;
      text-align: left;
      padding: 0;
      margin: 0;
      text-indent: 0; }
    table.calendar .specialDay a {
      color: #007e64;
      text-decoration: none;
      padding: 1em;
      color: white;
      text-decoration: none;
      padding: 1em;
      background-color: #007e64; }
      table.calendar .specialDay a:visited {
        color: #007e64;
        text-decoration: none;
        padding: 1em; }
  table.calendar .weekendDay {
    background-color: #e5f3e5; }
  table.calendar .today {
    background-color: #1e90ff;
    color: white; }
    table.calendar .today a {
      color: white; }
      table.calendar .today a:visited {
        color: white; }
  table.calendar .day_number {
    display: block;
    text-align: right; }
