/*
Syntax error: Invalid CSS after "...parent url(http": expected comma, was ":"/javascripts/..."
        on line 64 of /Users/Yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/prototip.sass

59:       .close
60:         height: 40px
61:         width: 30px
62:         display: block
63:         z-index: 100000
64:         background: transparent url(http:"/javascripts/prototip2-2.1.0.1/js/../images/prototip/styles/bioseminars/close.png") no-repeat scroll left top
65:         position: absolute
66:         left: 286px
67:         top: -15px
68:         cursor: pointer
69: 

Backtrace:
/Users/Yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/prototip.sass:64
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/scss/parser.rb:929:in `expected'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:351:in `arglist'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:340:in `fn_arglist'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:306:in `funcall'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:294:in `ident'
(eval):2:in `unary_not'
(eval):2:in `unary_div'
(eval):2:in `unary_minus'
(eval):2:in `unary_plus'
(eval):3:in `times_div_or_mod'
(eval):3:in `plus_or_minus'
(eval):3:in `relational'
(eval):3:in `eq_or_neq'
(eval):3:in `and_expr'
(eval):3:in `or_expr'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:275:in `space'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:258:in `interpolation'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:221:in `expr'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:449:in `send'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:449:in `assert_expr'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:49:in `parse'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script/parser.rb:140:in `parse'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/script.rb:32:in `parse'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:830:in `parse_script'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:593:in `parse_property'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:582:in `parse_property_or_rule'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:563:in `parse_line'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:456:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:465:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:458:in `build_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:475:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:474:in `append_children'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:330:in `_to_tree'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:300:in `_render'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:248:in `render'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:248:in `render'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/sass-3.1.12/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/warden-1.1.0/lib/warden/manager.rb:35:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/warden-1.1.0/lib/warden/manager.rb:34:in `catch'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/warden-1.1.0/lib/warden/manager.rb:34:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/methodoverride.rb:24:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activerecord-3.0.11/lib/active_record/query_cache.rb:32:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activerecord-3.0.11/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activerecord-3.0.11/lib/active_record/query_cache.rb:12:in `cache'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activerecord-3.0.11/lib/active_record/query_cache.rb:31:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activerecord-3.0.11/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/activesupport-3.0.11/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/sendfile.rb:106:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/railties-3.0.11/lib/rails/rack/logger.rb:13:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/runtime.rb:17:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `synchronize'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/rack-1.2.5/lib/rack/lock.rb:13:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/actionpack-3.0.11/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/airbrake-3.0.9/lib/airbrake/user_informer.rb:12:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/railties-3.0.11/lib/rails/application.rb:168:in `call'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/railties-3.0.11/lib/rails/application.rb:77:in `send'
/Users/Yannis/Dropbox/railsapp/bioseminars/rails/ruby/1.8/gems/railties-3.0.11/lib/rails/application.rb:77:in `method_missing'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:147:in `handle'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:99:in `start'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:86:in `start'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/Yannis/Library/Application Support/Pow/Versions/0.4.0/node_modules/nack/bin/nack_worker:4
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...parent url(http\": expected comma, was \":\"/javascripts/...\"\A         on line 64 of /Users/Yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/prototip.sass\A \A 59:       .close\A 60:         height: 40px\A 61:         width: 30px\A 62:         display: block\A 63:         z-index: 100000\A 64:         background: transparent url(http:\"/javascripts/prototip2-2.1.0.1/js/../images/prototip/styles/bioseminars/close.png\") no-repeat scroll left top\A 65:         position: absolute\A 66:         left: 286px\A 67:         top: -15px\A 68:         cursor: pointer\A 69: "; }
