%tr[user]{:class => cycle('', 'odd')}
  %td
    = link_to_unless_current h(user.name), user_path(user)
  %td=h user.email
  %td
    = user.role.name if user.role
  %td
    - links = [edit_link(user)]
    - links << destroy_link(user)
    = links.join(' · ')