%tr[user]
  %td
    = link_to_unless show?, h(user.name), user_path(user)
  %td=h user.email
  %td
    = 'Admin' if user.admin
  %td
    - links = []
    - links << link_to('Edit', [:edit, user], :remote => true) if admin?
    - links << edit_link(user) if basic?
    - links << destroy_link(user) if user.can_be_destroyed? and user != current_user
    =raw links.join(' · ')