<div class="clipboard">
  <div class="clipboard-content">{{text}}</div>
  <button class="clipboard-content-button" {{bind-attr data-clipboard-text=text}} title="Copy to clipboard">{{label}}</button>
</div>
