%tr[building]
  %td
    = link_to_unless_current h(building.name), building_path(building.id)
  %td
    = h(building.description)
  %td
    = building.seminars.size
  - if admin?
    %td
      - links = [link_to('Edit', [:edit, building], :remote => true)] if can?(:update, building)
      - links << destroy_link(building) if can?(:destroy, building)
      =raw links.join(' · ')