- @title ||= 'New building'
.grid_4.prefix_4.suffix_4
  = error_messages_for :user
  - form_for @building, :url => buildings_path, :html => {:class => 'with_blocks'} do |f|
    %fieldset
      %legend
        = @title
      = render :partial => 'form', :locals => {:f => f}
      = create_button