/*
Syntax error: Invalid CSS after "": expected expression (e.g. 1px, bold), was "= !background"
        on line 7 of /Users/yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/old_sass/application2.sass

2: @font-face
3:   :font-family TheSans
4:   :src url('/fonts/TheSansPlain.ttf')
5: 
6: body
7:   :background-color = !background
8:   :color #333
9:   :font-family "Lucida Grande", helvetica, arial, sans-serif
10:   :font-size   11px
11:   :line-height 1.5em
12: 

Backtrace:
/Users/yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/old_sass/application2.sass:7
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/scss/parser.rb:899:in `expected'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/script/lexer.rb:193:in `expected!'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/script/parser.rb:443:in `assert_expr'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/script/parser.rb:49:in `parse'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/script/parser.rb:140:in `parse'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/script.rb:32:in `parse'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:814:in `parse_script'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:585:in `parse_property'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:536:in `parse_line'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:448:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:467:in `append_children'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:466:in `each'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:466:in `append_children'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:457:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:450:in `each'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:450:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:467:in `append_children'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:466:in `each'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:466:in `append_children'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:323:in `_to_tree'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:293:in `_render'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:241:in `render'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/engine.rb:241:in `render'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/usr/local/lib/ruby/gems/1.8/gems/sass-3.1.8/lib/sass/../sass/plugin/rack.rb:51:in `call'
/usr/local/lib/ruby/gems/1.8/gems/warden-1.0.5/lib/warden/manager.rb:35:in `call'
/usr/local/lib/ruby/gems/1.8/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/usr/local/lib/ruby/gems/1.8/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:32:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:12:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.10/lib/active_record/query_cache.rb:31:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.10/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-3.0.10/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/sendfile.rb:106:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.10/lib/rails/rack/logger.rb:13:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/runtime.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-3.0.10/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.4/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.10/lib/action_dispatch/middleware/static.rb:30:in `call'
/usr/local/lib/ruby/gems/1.8/gems/airbrake-3.0.4/lib/airbrake/user_informer.rb:12:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.10/lib/rails/application.rb:168:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.10/lib/rails/application.rb:77:in `send'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.10/lib/rails/application.rb:77:in `method_missing'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:99:in `start'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:86:in `start'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/yannis/Library/Application Support/Pow/Versions/0.3.1/node_modules/nack/bin/nack_worker:4
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected expression (e.g. 1px, bold), was \"= !background\"\A         on line 7 of /Users/yannis/Dropbox/railsapp/bioseminars/public/stylesheets/sass/old_sass/application2.sass\A \A 2: @font-face\A 3:   :font-family TheSans\A 4:   :src url('/fonts/TheSansPlain.ttf')\A 5: \A 6: body\A 7:   :background-color = !background\A 8:   :color #333\A 9:   :font-family \"Lucida Grande\", helvetica, arial, sans-serif\A 10:   :font-size   11px\A 11:   :line-height 1.5em\A 12: "; }
