<div class="row" id="about">
  <div class="col-md-12 col-xs-12">
    <h2>{{ pageTitle }}</h2>
    <p>
      bioSeminars is the calendar centralizing all life science seminars given at the
      <a href="http://unige.ch/sciences" target="_blank">University of Geneva (Faculty of Sciences)</a>.
    </p>
    <p>
      If you too, you would like to post seminars organized in your unit on bioSeminars, you can
      <a href="mailto:%79%61%6e%6e%69%73.%6a%61%71%75%65%74@%75%6e%69%67%65.%63%68" data-uv-trigger>ask the webmaster</a>
      to open an account for you.
    </p>
    <p>
      bioSeminars has been developped in order to facilitate the export of the calendar data. Please check how you can do it using our
      {{#link-to 'feeds'}}feeds{{/link-to}}.
    </p>
  </div>
</div>
