<div id="wrap">
  <div class="container">
    {{ partial 'navigation' }}
    {{bs-notifications}}
    {{#if App.loading }}
      <p>Loading data!!!</p>
    {{/if}}
    {{outlet}}
  </div>
  <div id='push-footer'></div>
</div>
<div id="footer">
  <div class="container">
    <p>
      University of Geneva, Section of Biology
      {{App.Session.year}}
      –
      <a href="http://github.com/yannis/bioseminars" target="_blank" class"fa-2x fa-github"><i class="fa fa-2x fa-github"></i></span></a>
    </p>
  </div>
</div>
