%tr[category]{:class => cycle('', 'odd')}
  %td
    - unless category.color.blank?
      %span.color{:style => "background-color: ##{category.color}"}
    = link_to_unless_current h(category.name), category_path(category)
  %td
    =h category.acronym
  %td
    = h(category.description)
  %td
    - links = [edit_link(category)]
    - links << destroy_link(category)
    = links.join(' · ')