- stylesheet '/colorpicker/colorPicker.css'
- javascript '/colorpicker/colorPicker.js'
- javascript '/colorpicker/scriptaculous/builder.js'
- javascript '/colorpicker/scriptaculous/slider.js'
- javascript '/colorpicker/yahoo.color.js'
- @title ||= "Edit category “#{@category.name}”"
.large_form
  %h2
    = @title
  - form_for @category do |f|
    = render :partial => 'form', :locals => {:f => f}
    = update_button