- stylesheet '/colorpicker/colorPicker.css'
- javascript '/colorpicker/colorPicker.js'
- javascript '/colorpicker/scriptaculous/builder.js'
- javascript '/colorpicker/scriptaculous/slider.js'
- javascript '/colorpicker/yahoo.color.js'
- @title ||= 'New category'
.grid_4.prefix_4.suffix_4
  = error_messages_for :user
  - form_for @category, :url => categories_path, :html => {:class => 'with_blocks'} do |f|
    %fieldset
      %legend
        = @title
      = render :partial => 'form', :locals => {:f => f}
      = create_button