- unless @next_seminar.blank?
  %section.next_seminar.box
    %h1 Next seminar
    %p
      %br/
      = @next_seminar.category.name
      %br/
      %span.small
        - s_and_l = [@next_seminar.schedule]
        - s_and_l << @next_seminar.location.name_and_building unless @next_seminar.location.blank?
        = s_and_l.join(', ')
    %h2= @next_seminar.mini_seminar_title
    %p
      %span.by
        by
      =raw @next_seminar.speakers.map{|s| s.bold_name_and_affiliation}.join(', ')
    %p.admin_links
      - links = [link_to('Details', seminar_path(@next_seminar))]
      - links << link_to('Website', @next_seminar.url) unless @next_seminar.url.blank?
      - links << link_to('Save in iCal', seminar_path(@next_seminar, :format => 'ics'))
      - links << edit_link(@next_seminar) if can?(:update, @next_seminar)
      - links << destroy_link(@next_seminar) if can?(:destroy, @next_seminar)
      =raw links.join(' · ')