- stylesheet 'calendar.css'
- stylesheet 'calendar_picker'
- if user_signed_in?
  - document_ready "set_new_seminar_function('#{new_seminar_path()}')"
- @title ||= "Calendar"
.left_column
  = render 'calendar', :date => @date
%aside
  = render 'categories_menu'
  = render 'next_seminar_box'