- stylesheet 'calendar.css'
- stylesheet 'calendar_picker'
- if user_signed_in?
  - document_ready "set_new_seminar_function('#{new_seminar_path()}')".html_safe
- @title ||= "Calendar"
=raw calendar(:accessible => true, :year => @date.year, :month => @date.month, :first_day_of_week => 1, :abbrev => (0..10), :previous_month_text => link_to(@date.prev_month.to_s(:month)+' <', calendar_seminars_path(:date => @date.prev_month.to_s(:db), :categories => params[:categories], :format => params[:format]), :remote => true), :next_month_text => link_to("> "+@date.next_month.to_s(:month), calendar_seminars_path(:date => @date.next_month.to_s(:db), :categories => params[:categories], :format => params[:format]), :remote => true )){|d| render_calendar_cell(d)}
= link_to 'Show larger calendar', calendar_seminars_url
