- stylesheet 'calendar.css'
- @title ||= "Listing seminars"
= calendar(:year => Date.current.year, :month => Date.current.month, :first_day_of_week => 1, :abbrev => (0..10), :previous_month_text => Date.current.last_month.to_s(:month), :next_month_text => Date.current.next_month.to_s(:month)) do |d|
  - render_calendar_cell(d)
