- @title ||= 'New seminar'
= error_messages_for :seminar
- form_for @seminar, :url => seminars_path, :html => {:class => 'with_blocks', :multipart => true} do |f|
  %fieldset
    %legend
      = @title
      (<span class='red_dot'>•</span> mandatory fields)
    = render :partial => 'form', :locals => {:f => f}
    = create_button