- @title ||= 'New seminar'
.grid_8.prefix_2.suffix_2
  = error_messages_for :user
  - form_for @seminar, :url => seminars_path, :html => {:class => 'with_blocks'} do |f|
    %fieldset
      %legend
        = @title
      = render :partial => 'form', :locals => {:f => f}
      = create_button