- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoom.js'
- javascript '/javascripts/FancyZoom_1.1/js-global/FancyZoomHTML.js'
- functions_to_load = ["setupZoom()"]
- functions_to_load << remote_function(:url => load_publications_seminar_path(@seminar)) unless @seminar.pubmed_ids.blank?
- onload functions_to_load.join(';')
= render @seminar
.clear