<div class="row">
  <div class="col-md-8 col-xs-12">
    <div id='calendar'>
      <span class='calendar-loader'>Loading…</span>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    {{outlet}}
    {{view App.CalendarCategoriesView}}
  </div>
</div>
