%tr[location]
  %td
    = link_to_unless_current h(location.name), location_path(location)
  %td
    = h(location.description)
  %td
    = link_to(h(location.building.name), building_path(location.building)) unless location.building.blank?
  %td
    = location.seminars.count
  - if user_signed_in?
    %td
      - links = [link_to('Edit', [:edit, location], :remote => true)] if can?(:update, location)
      - links << destroy_link(location) if location.no_more_seminars? && can?(:destroy, location)
      =raw links.join(' · ')